{
  "openapi": "3.0.2",
  "info": {
    "contact": {
      "email": "support@tyro.com",
      "name": "Tyro",
      "url": "https://tyro.com/"
    },
    "version": "1.11.0",
    "title": "Tyro Banking API",
    "description": "Tyro Banking API enables third parties to access information about our banking products and services as well as Consumers to provide consent to share their Customer, Account and Transaction information.<br /><br />\nThe API is designed and documented in OpenAPI format and in accordance with the <a href=\"https://consumerdatastandardsaustralia.github.io/standards/\">Australian Consumer Data Standards</a>.\n"
  },
  "tags": [
    {
      "name": "Accounts",
      "description": "Accounts Related APIs"
    },
    {
      "name": "Balances",
      "description": "Account Balance Related APIs"
    },
    {
      "name": "Banking",
      "description": "Banking APIs"
    },
    {
      "name": "Common",
      "description": "Common APIs"
    },
    {
      "name": "Customer",
      "description": "Customer APIs"
    },
    {
      "name": "Discovery",
      "description": "Discovery APIs"
    },
    {
      "name": "Products",
      "description": "Products"
    },
    {
      "name": "Transactions",
      "description": "Transactions APIs"
    }
  ],
  "x-tagGroups": [
    {
      "name": "Product APIs",
      "tags": [
        "Products"
      ]
    },
    {
      "name": "Banking APIs",
      "tags": [
        "Accounts",
        "Balances",
        "Transactions"
      ]
    },
    {
      "name": "Common APIs",
      "tags": [
        "Customer",
        "Discovery"
      ]
    }
  ],
  "servers": [
    {
      "url": "https://public.cdr.tyro.com/cds-au/v1"
    },
    {
      "url": "https://api.cdr.tyro.com/cds-au/v1"
    }
  ],
  "paths": {
    "/banking/accounts": {
      "get": {
        "description": "Obtain a list of accounts",
        "operationId": "listAccounts",
        "parameters": [
          {
            "$ref": "#/components/parameters/QueryProductCategory"
          },
          {
            "$ref": "#/components/parameters/QueryAccountOpenStatus"
          },
          {
            "$ref": "#/components/parameters/QueryAccountIsOwned"
          },
          {
            "$ref": "#/components/parameters/QueryPage"
          },
          {
            "$ref": "#/components/parameters/QueryPageSize"
          },
          {
            "$ref": "#/components/parameters/HeaderXV"
          },
          {
            "$ref": "#/components/parameters/HeaderXMinV"
          },
          {
            "$ref": "#/components/parameters/HeaderXFapiInteractionId"
          },
          {
            "$ref": "#/components/parameters/HeaderXFAPIAuthDate"
          },
          {
            "$ref": "#/components/parameters/HeaderXFAPICustomerIPAddress"
          },
          {
            "$ref": "#/components/parameters/HeaderXCDSClientHeaders"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListAccounts"
          },
          "400": {
            "$ref": "#/components/responses/ListAccounts400"
          },
          "403": {
            "$ref": "#/components/responses/Generic403"
          },
          "406": {
            "$ref": "#/components/responses/ListAccounts406"
          },
          "422": {
            "$ref": "#/components/responses/ListAccounts422"
          },
          "500": {
            "$ref": "#/components/responses/Generic500"
          },
          "503": {
            "$ref": "#/components/responses/Generic503"
          }
        },
        "summary": "Get Accounts",
        "tags": [
          "Accounts",
          "Banking"
        ],
        "security": [
          {
            "CDRAuth": [
              "bank:accounts.basic:read"
            ]
          }
        ],
        "x-version": "1"
      }
    },
    "/banking/accounts/balances": {
      "get": {
        "description": "Obtain balances for multiple, filtered accounts",
        "operationId": "listBalancesBulk",
        "parameters": [
          {
            "$ref": "#/components/parameters/QueryProductCategory"
          },
          {
            "$ref": "#/components/parameters/QueryAccountOpenStatus"
          },
          {
            "$ref": "#/components/parameters/QueryAccountIsOwned"
          },
          {
            "$ref": "#/components/parameters/QueryPage"
          },
          {
            "$ref": "#/components/parameters/QueryPageSize"
          },
          {
            "$ref": "#/components/parameters/HeaderXV"
          },
          {
            "$ref": "#/components/parameters/HeaderXMinV"
          },
          {
            "$ref": "#/components/parameters/HeaderXFapiInteractionId"
          },
          {
            "$ref": "#/components/parameters/HeaderXFAPIAuthDate"
          },
          {
            "$ref": "#/components/parameters/HeaderXFAPICustomerIPAddress"
          },
          {
            "$ref": "#/components/parameters/HeaderXCDSClientHeaders"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListBalancesBulk"
          },
          "400": {
            "$ref": "#/components/responses/ListBalancesBulk400"
          },
          "403": {
            "$ref": "#/components/responses/Generic403"
          },
          "406": {
            "$ref": "#/components/responses/ListBalancesBulk406"
          },
          "422": {
            "$ref": "#/components/responses/ListBalancesBulk422"
          },
          "500": {
            "$ref": "#/components/responses/Generic500"
          },
          "503": {
            "$ref": "#/components/responses/Generic503"
          }
        },
        "summary": "Get Bulk Balances",
        "tags": [
          "Balances",
          "Banking"
        ],
        "security": [
          {
            "CDRAuth": [
              "bank:accounts.basic:read"
            ]
          }
        ],
        "x-version": "1"
      },
      "post": {
        "description": "Obtain balances for a specified list of accounts",
        "operationId": "listBalancesSpecificAccounts",
        "parameters": [
          {
            "$ref": "#/components/parameters/QueryPage"
          },
          {
            "$ref": "#/components/parameters/QueryPageSize"
          },
          {
            "$ref": "#/components/parameters/HeaderXV"
          },
          {
            "$ref": "#/components/parameters/HeaderXMinV"
          },
          {
            "$ref": "#/components/parameters/HeaderXFapiInteractionId"
          },
          {
            "$ref": "#/components/parameters/HeaderXFAPIAuthDate"
          },
          {
            "$ref": "#/components/parameters/HeaderXFAPICustomerIPAddress"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/RequestAccountIds"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListBalancesSpecificAccounts"
          },
          "400": {
            "$ref": "#/components/responses/ListBalancesSpecificAccounts400"
          },
          "406": {
            "$ref": "#/components/responses/ListBalancesSpecificAccounts406"
          },
          "422": {
            "$ref": "#/components/responses/ListBalancesSpecificAccounts422"
          },
          "500": {
            "$ref": "#/components/responses/Generic500"
          },
          "503": {
            "$ref": "#/components/responses/Generic503"
          }
        },
        "summary": "Get Balances For Specific Accounts",
        "tags": [
          "Balances",
          "Banking"
        ],
        "security": [
          {
            "CDRAuth": [
              "bank:accounts.basic:read"
            ]
          }
        ],
        "x-version": "1"
      }
    },
    "/banking/accounts/{accountId}": {
      "get": {
        "description": "Obtain detailed information on a single account",
        "operationId": "getAccountDetail",
        "parameters": [
          {
            "$ref": "#/components/parameters/PathAccountId"
          },
          {
            "$ref": "#/components/parameters/HeaderXV"
          },
          {
            "$ref": "#/components/parameters/HeaderXMinV"
          },
          {
            "$ref": "#/components/parameters/HeaderXFapiInteractionId"
          },
          {
            "$ref": "#/components/parameters/HeaderXFAPIAuthDate"
          },
          {
            "$ref": "#/components/parameters/HeaderXFAPICustomerIPAddress"
          },
          {
            "$ref": "#/components/parameters/HeaderXCDSClientHeaders"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetAccountDetail"
          },
          "400": {
            "$ref": "#/components/responses/GetAccountDetail400"
          },
          "403": {
            "$ref": "#/components/responses/Generic403"
          },
          "404": {
            "$ref": "#/components/responses/GetAccountDetail404"
          },
          "406": {
            "$ref": "#/components/responses/GetAccountDetail406"
          },
          "500": {
            "$ref": "#/components/responses/Generic500"
          },
          "503": {
            "$ref": "#/components/responses/Generic503"
          }
        },
        "summary": "Get Account Detail",
        "tags": [
          "Accounts",
          "Banking"
        ],
        "security": [
          {
            "CDRAuth": [
              "bank:accounts.detail:read"
            ]
          }
        ],
        "x-version": "1"
      }
    },
    "/banking/accounts/{accountId}/balance": {
      "get": {
        "description": "Obtain the balance for a single specified account",
        "operationId": "getBalance",
        "parameters": [
          {
            "$ref": "#/components/parameters/PathAccountId"
          },
          {
            "$ref": "#/components/parameters/HeaderXV"
          },
          {
            "$ref": "#/components/parameters/HeaderXMinV"
          },
          {
            "$ref": "#/components/parameters/HeaderXFapiInteractionId"
          },
          {
            "$ref": "#/components/parameters/HeaderXFAPIAuthDate"
          },
          {
            "$ref": "#/components/parameters/HeaderXFAPICustomerIPAddress"
          },
          {
            "$ref": "#/components/parameters/HeaderXCDSClientHeaders"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetBalance"
          },
          "400": {
            "$ref": "#/components/responses/GetBalance400"
          },
          "403": {
            "$ref": "#/components/responses/Generic403"
          },
          "404": {
            "$ref": "#/components/responses/GetBalance404"
          },
          "406": {
            "$ref": "#/components/responses/GetBalance406"
          },
          "500": {
            "$ref": "#/components/responses/Generic500"
          },
          "503": {
            "$ref": "#/components/responses/Generic503"
          }
        },
        "summary": "Get Account Balance",
        "tags": [
          "Balances",
          "Banking"
        ],
        "security": [
          {
            "CDRAuth": [
              "bank:accounts.basic:read"
            ]
          }
        ],
        "x-version": "1"
      }
    },
    "/banking/accounts/{accountId}/transactions": {
      "get": {
        "description": "Obtain transactions for a specific account.\nSome general notes that apply to all end points that retrieve transactions:\n  - Where multiple transactions are returned, transactions should be ordered according to effective date in descending order\n  - As the date and time for a transaction can alter depending on status and transaction type two separate date/times are included in the payload. There are still some scenarios where neither of these time stamps is available. For the purpose of filtering and ordering it is expected that the data holder will use the “effective” date/time which will be defined as:\n    - Posted date/time if available, then\n    - Execution date/time if available, then\n    - A reasonable date/time nominated by the data holder using internal data structures\n  - For transaction amounts it should be assumed that a negative value indicates a reduction of the available balance on the account while a positive value indicates an increase in the available balance on the account\n  - For aggregated transactions (ie. groups of sub transactions reported as a single entry for the account) only the aggregated information, with as much consistent information across the subsidiary transactions as possible, is required to be shared\"",
        "operationId": "getTransactions",
        "parameters": [
          {
            "$ref": "#/components/parameters/PathAccountId"
          },
          {
            "$ref": "#/components/parameters/QueryTransactionOldestTime"
          },
          {
            "$ref": "#/components/parameters/QueryTransactionNewestTime"
          },
          {
            "$ref": "#/components/parameters/QueryTransactionMinAmount"
          },
          {
            "$ref": "#/components/parameters/QueryTransactionMaxAmount"
          },
          {
            "$ref": "#/components/parameters/QueryPage"
          },
          {
            "$ref": "#/components/parameters/QueryPageSize"
          },
          {
            "$ref": "#/components/parameters/HeaderXV"
          },
          {
            "$ref": "#/components/parameters/HeaderXMinV"
          },
          {
            "$ref": "#/components/parameters/HeaderXFapiInteractionId"
          },
          {
            "$ref": "#/components/parameters/HeaderXFAPIAuthDate"
          },
          {
            "$ref": "#/components/parameters/HeaderXFAPICustomerIPAddress"
          },
          {
            "$ref": "#/components/parameters/HeaderXCDSClientHeaders"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetTransactions"
          },
          "400": {
            "$ref": "#/components/responses/GetTransactions400"
          },
          "403": {
            "$ref": "#/components/responses/Generic403"
          },
          "404": {
            "$ref": "#/components/responses/GetTransactions404"
          },
          "406": {
            "$ref": "#/components/responses/GetTransactions406"
          },
          "422": {
            "$ref": "#/components/responses/GetTransactions422"
          },
          "500": {
            "$ref": "#/components/responses/Generic500"
          },
          "503": {
            "$ref": "#/components/responses/Generic503"
          }
        },
        "summary": "Get Transactions For Account",
        "tags": [
          "Banking",
          "Transactions"
        ],
        "security": [
          {
            "CDRAuth": [
              "bank:transactions:read"
            ]
          }
        ],
        "x-version": "1"
      }
    },
    "/banking/accounts/{accountId}/transactions/{transactionId}": {
      "get": {
        "description": "Obtain detailed information on a transaction for a specific account",
        "operationId": "getTransactionDetail",
        "parameters": [
          {
            "$ref": "#/components/parameters/PathAccountId"
          },
          {
            "$ref": "#/components/parameters/PathTransactionId"
          },
          {
            "$ref": "#/components/parameters/HeaderXV"
          },
          {
            "$ref": "#/components/parameters/HeaderXMinV"
          },
          {
            "$ref": "#/components/parameters/HeaderXFapiInteractionId"
          },
          {
            "$ref": "#/components/parameters/HeaderXFAPIAuthDate"
          },
          {
            "$ref": "#/components/parameters/HeaderXFAPICustomerIPAddress"
          },
          {
            "$ref": "#/components/parameters/HeaderXCDSClientHeaders"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetTransactionDetail"
          },
          "400": {
            "$ref": "#/components/responses/GetTransactionDetail400"
          },
          "403": {
            "$ref": "#/components/responses/Generic403"
          },
          "404": {
            "$ref": "#/components/responses/GetTransactionDetail404"
          },
          "406": {
            "$ref": "#/components/responses/GetTransactionDetail406"
          },
          "500": {
            "$ref": "#/components/responses/Generic500"
          },
          "503": {
            "$ref": "#/components/responses/Generic503"
          }
        },
        "summary": "Get Transaction Detail",
        "tags": [
          "Banking",
          "Transactions"
        ],
        "security": [
          {
            "CDRAuth": [
              "bank:transactions:read"
            ]
          }
        ],
        "x-version": "1"
      }
    },
    "/banking/products": {
      "get": {
        "description": "Obtain a list of products that are currently openly offered to the market\n\nNote that the results returned by this end point are expected to be ordered in descending order according to `lastUpdated`\n\n### Conventions\nIn the product reference payloads there are a number of recurring conventions that are explained here, in one place.\n\n#### Arrays Of Features\n\nIn the product detail payload there are a number of arrays articulating generic features, constraints, prices, etc. The intent of these arrays is as follows:\n\n- Each element in an array has the same structure so that clients can reliably interpret the payloads\n- Each element as a type element that is an enumeration of the specific aspect of a product being described, such as types of fees.\n- Each element has a field name [additionalValue](https://consumerdatastandardsaustralia.github.io/standards/#productfeaturetypedoc). This is a generic field with contents that will vary based on the type of object being described. The contents of this field for the ADDITIONAL_CARDS feature is the number of cards allowed while the contents of this field for the MAX_LIMIT constraint would be the maximum credit limit allowed for the product.\n- An element in these arrays of the same type may appear more than once. For instance, a product may offer two separate loyalty programs that the customer can select from. A fixed term mortgage may have different rates for different term lengths.\n- An element in these arrays may contain an additionalInfo and additionalInfoUri field. The additionalInfo field is used to provide displayable text clarifying the purpose of the element in some way when the product is presented to a customer. The additionalInfoUri provides a link to externally hosted information specifically relevant to that feature of the product.\n- Depending on the type of data being represented there may be additional specific fields.\n\n#### URIs To More Information\n\nAs the complexities and nuances of a financial product can not easily be fully expressed in a data structure without a high degree of complexity it is necessary to provide additional reference information that a potential customer can access so that they are fully informed of the features and implications of the product. The payloads for product reference therefore contain numerous fields that are provided to allow the product holder to describe the product more fully using a web page hosted on their online channels.\n\nThese URIs do not need to all link to different pages. If desired, they can all link to a single hosted page and use difference HTML anchors to focus on a specific topic such as eligibility or fees.\n\n#### Linkage To Accounts\nFrom the moment that a customer applies for a product and an account is created the account and the product that spawned it will diverge.  Rates and features of the product may change and a discount may be negotiated for the account.\n\nFor this reason, while productCategory is a common field between accounts and products, there is no specific ID that can be used to link an account to a product within the regime.\n\nSimilarly, many of the fields and objects in the product payload will appear in the account detail payload but the structures and semantics are not identical as one refers to a product that can potentially be originated and one refers to an account that actual has been instantiated and created along with the associated decisions inherent in that process.\n\n#### Dates\nIt is expected that data consumers needing this data will call relatively frequently to ensure the data they have is representative of the current offering from a bank.  To minimise the volume and frequency of these calls the ability to set a lastUpdated field with the date and time of the last update to this product is included.  A call for a list of products can then be filtered to only return products that have been updated since the last time that data was obtained using the updated-since query parameter.\n\nIn addition, the concept of effective date and time has also been included.  This allows for a product to be marked for obsolescence, or introduction, from a certain time without the need for an update to show that a product has been changed.  The inclusion of these dates also removes the need to represent deleted products in the payload.  Products that are no long offered can be marked not effective for a few weeks before they are then removed from the product set as an option entirely.",
        "operationId": "listProducts",
        "parameters": [
          {
            "$ref": "#/components/parameters/QueryProductEffective"
          },
          {
            "$ref": "#/components/parameters/QueryUpdatedSince"
          },
          {
            "$ref": "#/components/parameters/QueryProductBrand"
          },
          {
            "$ref": "#/components/parameters/QueryProductCategory"
          },
          {
            "$ref": "#/components/parameters/QueryPage"
          },
          {
            "$ref": "#/components/parameters/QueryPageSize"
          },
          {
            "$ref": "#/components/parameters/HeaderXV"
          },
          {
            "$ref": "#/components/parameters/HeaderXMinV"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListProducts"
          },
          "400": {
            "$ref": "#/components/responses/ListProducts400"
          },
          "406": {
            "$ref": "#/components/responses/ListProducts406"
          },
          "500": {
            "$ref": "#/components/responses/Generic500"
          },
          "503": {
            "$ref": "#/components/responses/Generic503"
          }
        },
        "summary": "Get Products",
        "security": [],
        "tags": [
          "Banking",
          "Products"
        ],
        "x-version": "3"
      }
    },
    "/banking/products/{productId}": {
      "get": {
        "description": "Obtain detailed information on a single product offered openly to the market.\nNOTE: This version must be implemented by **February 2021**",
        "operationId": "getProductDetail",
        "parameters": [
          {
            "$ref": "#/components/parameters/PathProductId"
          },
          {
            "$ref": "#/components/parameters/HeaderXV"
          },
          {
            "$ref": "#/components/parameters/HeaderXMinV"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetProductDetail"
          },
          "400": {
            "$ref": "#/components/responses/GetProductDetail400"
          },
          "404": {
            "$ref": "#/components/responses/GetProductDetail404"
          },
          "406": {
            "$ref": "#/components/responses/GetProductDetail406"
          },
          "500": {
            "$ref": "#/components/responses/Generic500"
          },
          "503": {
            "$ref": "#/components/responses/Generic503"
          }
        },
        "summary": "Get Product Detail",
        "security": [],
        "tags": [
          "Banking",
          "Products"
        ],
        "x-version": "3"
      }
    },
    "/common/customer": {
      "get": {
        "description": "Obtain basic information on the customer that has authorised the current session",
        "operationId": "getCustomer",
        "parameters": [
          {
            "$ref": "#/components/parameters/HeaderXV"
          },
          {
            "$ref": "#/components/parameters/HeaderXMinV"
          },
          {
            "$ref": "#/components/parameters/HeaderXFapiInteractionId"
          },
          {
            "$ref": "#/components/parameters/HeaderXFAPIAuthDate"
          },
          {
            "$ref": "#/components/parameters/HeaderXFAPICustomerIPAddress"
          },
          {
            "$ref": "#/components/parameters/HeaderXCDSClientHeaders"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetCustomer"
          },
          "400": {
            "$ref": "#/components/responses/GetCustomer400"
          },
          "403": {
            "$ref": "#/components/responses/Generic403"
          },
          "406": {
            "$ref": "#/components/responses/GetCustomer406"
          },
          "500": {
            "$ref": "#/components/responses/Generic500"
          },
          "503": {
            "$ref": "#/components/responses/Generic503"
          }
        },
        "summary": "Get Customer",
        "tags": [
          "Common",
          "Customer"
        ],
        "security": [
          {
            "CDRAuth": [
              "common:customer.basic:read"
            ]
          }
        ],
        "x-version": "1"
      }
    },
    "/common/customer/detail": {
      "get": {
        "description": "Obtain detailed information on the authorised customer within the current session.",
        "operationId": "getCustomerDetail",
        "parameters": [
          {
            "$ref": "#/components/parameters/HeaderXV"
          },
          {
            "$ref": "#/components/parameters/HeaderXMinV"
          },
          {
            "$ref": "#/components/parameters/HeaderXFapiInteractionId"
          },
          {
            "$ref": "#/components/parameters/HeaderXFAPIAuthDate"
          },
          {
            "$ref": "#/components/parameters/HeaderXFAPICustomerIPAddress"
          },
          {
            "$ref": "#/components/parameters/HeaderXCDSClientHeaders"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetCustomerDetail"
          },
          "400": {
            "$ref": "#/components/responses/GetCustomerDetail400"
          },
          "403": {
            "$ref": "#/components/responses/Generic403"
          },
          "406": {
            "$ref": "#/components/responses/GetCustomerDetail406"
          },
          "500": {
            "$ref": "#/components/responses/Generic500"
          },
          "503": {
            "$ref": "#/components/responses/Generic503"
          }
        },
        "summary": "Get Customer Detail",
        "tags": [
          "Common",
          "Customer"
        ],
        "security": [
          {
            "CDRAuth": [
              "common:customer.detail:read"
            ]
          }
        ],
        "x-version": "1"
      }
    },
    "/discovery/outages": {
      "get": {
        "description": "Obtain a list of scheduled outages for the implementation",
        "operationId": "getOutages",
        "parameters": [
          {
            "$ref": "#/components/parameters/HeaderXV"
          },
          {
            "$ref": "#/components/parameters/HeaderXMinV"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetOutages"
          },
          "400": {
            "$ref": "#/components/responses/GetOutages400"
          },
          "406": {
            "$ref": "#/components/responses/GetOutages406"
          },
          "500": {
            "$ref": "#/components/responses/Generic500"
          },
          "503": {
            "$ref": "#/components/responses/Generic503"
          }
        },
        "summary": "Get Outages",
        "security": [],
        "tags": [
          "Common",
          "Discovery"
        ],
        "x-version": "1"
      }
    },
    "/discovery/status": {
      "get": {
        "description": "Obtain a health check status for the implementation",
        "operationId": "getStatus",
        "parameters": [
          {
            "$ref": "#/components/parameters/HeaderXV"
          },
          {
            "$ref": "#/components/parameters/HeaderXMinV"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetStatus"
          },
          "400": {
            "$ref": "#/components/responses/GetStatus400"
          },
          "406": {
            "$ref": "#/components/responses/GetStatus406"
          },
          "500": {
            "$ref": "#/components/responses/Generic500"
          },
          "503": {
            "$ref": "#/components/responses/Generic503"
          }
        },
        "summary": "Get Status",
        "security": [],
        "tags": [
          "Common",
          "Discovery"
        ],
        "x-version": "1"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "CDRAuth": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://auth.cdr.tyro.com/tyro-auth/authorize",
            "tokenUrl": "https://secure-auth.cdr.tyro.com/tyro-auth/token",
            "scopes": {
              "bank:accounts.basic:read": "Basic Bank Account Data",
              "bank:accounts.detail:read": "Detailed Bank Account Data",
              "bank:transactions:read": "Bank Transaction Data",
              "common:customer.basic:read": "Basic Customer Data",
              "common:customer.detail:read": "Detailed Customer Data"
            }
          }
        }
      }
    },
    "schemas": {
      "EnumBankingProductCategoryV1": {
        "description": "\nThe Product Category enumeration lists the available product categories for categorising products and accounts. These are explained in the following tables:\n\n**Deposit Products**\n\n| Enum | Description\n|------|------------|\n| TRANS_AND_SAVINGS_ACCOUNTS | This grouping of products includes all accounts where cash is deposited in the account and is accessible to the customer when they choose. These are given many names on the market including Cash Accounts, Saving Accounts, Transaction Accounts, Current Accounts, Cheque Accounts, Passbook Accounts, etc... |\n| TERM_DEPOSITS              | This grouping of products includes all accounts where cash is deposited in the account for a set time period with restrictions on when funds can be withdrawn. Includes traditional Term Deposits and specialised deposits with either fixed terms or notice periods for withdrawal of funds. |\n| TRAVEL_CARDS               | This grouping of products includes prepaid cards with multi-currency capabilities.|\n| REGULATED_TRUST_ACCOUNTS   | This grouping of products includes accounts were funds are held in trust in regulated industries with complex rules embedded on how the products must operate. Industries that require this sort of product include real estate agents, solicitors and conveyancers. |\n\n**Lending Products**\n\n| Enum | Description\n|------|------------|\nRESIDENTIAL_MORTGAGES | This grouping of products includes all lending products that are available for the primary purpose of borrowing for the purpose of purchasing or renovating residential property, where a residential property will be used as security. This group will include both fixed, variable & secured overdraft types of product and may include both owner-occupied and investment purpose borrowing.\nCRED_AND_CHRG_CARDS | This grouping of products includes all lending products that are issued for the purpose of allowing a flexible line of credit accessed through use of a card. These may be called various names including Credit Cards, Charge Cards and Store Cards.\nPERS_LOANS | This grouping of products includes all lending for personal purposes that is not a residential mortgage, credit card or margin lending. These loans may be unsecured loans and term loans for purchase assets used as security such as motor vehicles. These may be called various names including Personal Loans and Car Loans.\nMARGIN_LOANS | This grouping of products includes all types of margin loans which let you borrow money to invest in traded assets including shares & commodities or in managed funds.\nLEASES | This grouping of products will include all types of leases including Financial Lease, Operating Lease, Sale and leaseback, etc...\nTRADE FINANCE | This grouping of products includes specialised lending products specifically designed to facilitate domestic & international trade. This includes the issuance of letters of credit, factoring, export credit.\nOVERDRAFTS | This grouping of products includes all types of lending which allows for the loan amount to be withdrawn, repaid, and redrawn again in any manner and any number of times, until the arrangement expires. These loans may be secured or unsecured, and generally don’t have set / minimum repayment requirements.\nBUSINESS_LOANS | This grouping of products incorporates all types of lending for business purpose that is not a trade finance facility, lease, overdraft, residential mortgage, credit card or margin lending. It includes traditional term loans, bank guarantees and commercial bills. This category would incorporate both secured and unsecured business purpose lending including all business purpose equipment finance that is not covered by a lease.\n",
        "enum": [
          "BUSINESS_LOANS",
          "CRED_AND_CHRG_CARDS",
          "LEASES",
          "MARGIN_LOANS",
          "OVERDRAFTS",
          "PERS_LOANS",
          "REGULATED_TRUST_ACCOUNTS",
          "RESIDENTIAL_MORTGAGES",
          "TERM_DEPOSITS",
          "TRADE_FINANCE",
          "TRANS_AND_SAVINGS_ACCOUNTS",
          "TRAVEL_CARDS"
        ],
        "type": "string",
        "example": "TRANS_AND_SAVINGS_ACCOUNTS"
      },
      "EnumBankingAccountOpenStatusV1": {
        "default": "OPEN",
        "description": "Open or closed status for the account. If not present then OPEN is assumed",
        "enum": [
          "CLOSED",
          "OPEN"
        ],
        "type": "string"
      },
      "BankingAccountV1": {
        "properties": {
          "accountId": {
            "description": "A unique ID of the account adhering to the standards for ID permanence",
            "type": "string",
            "format": "uuid"
          },
          "creationDate": {
            "description": "Date that the account was created (if known)",
            "type": "string",
            "format": "date"
          },
          "displayName": {
            "description": "The display name of the account as defined by the bank. This should not incorporate account numbers or PANs. If it does the values should be masked according to the rules of the MaskedAccountString common type.",
            "type": "string",
            "example": "ACME Savings Account"
          },
          "isOwned": {
            "default": true,
            "description": "Flag indicating that the customer associated with the authorisation is an owner of the account. Does not indicate sole ownership, however. If not present then 'true' is assumed",
            "type": "boolean"
          },
          "maskedNumber": {
            "description": "A masked version of the account. Whether BSB/Account Number, Credit Card PAN or another number",
            "type": "string",
            "format": "MaskedAccountString",
            "example": "XXXX-XXXX-XXXX-1234"
          },
          "nickname": {
            "description": "A customer supplied nick name for the account",
            "type": "string",
            "example": "Holiday Fund"
          },
          "openStatus": {
            "$ref": "#/components/schemas/EnumBankingAccountOpenStatusV1"
          },
          "productCategory": {
            "$ref": "#/components/schemas/EnumBankingProductCategoryV1"
          },
          "productName": {
            "description": "The unique identifier of the account as defined by the data holder (akin to model number for the account)",
            "type": "string",
            "example": "ACME Savings Maximiser"
          }
        },
        "required": [
          "accountId",
          "displayName",
          "maskedNumber",
          "productCategory",
          "productName"
        ],
        "type": "object"
      },
      "LinksPaginatedV1": {
        "properties": {
          "first": {
            "description": "URI to the first page of this set. Mandatory if this response is not the first page",
            "type": "string",
            "format": "uri"
          },
          "last": {
            "description": "URI to the last page of this set. Mandatory if this response is not the last page",
            "type": "string",
            "format": "uri"
          },
          "next": {
            "description": "URI to the next page of this set. Mandatory if this response is not the last page",
            "type": "string",
            "format": "uri"
          },
          "prev": {
            "description": "URI to the previous page of this set. Mandatory if this response is not the first page",
            "type": "string",
            "format": "uri"
          },
          "self": {
            "description": "Fully qualified link that generated the current response document",
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "self"
        ],
        "type": "object",
        "x-conditional": [
          "prev",
          "next",
          "first",
          "last"
        ]
      },
      "MetaPaginatedV1": {
        "properties": {
          "totalPages": {
            "description": "The total number of pages in the full set. See [pagination](https://consumerdatastandardsaustralia.github.io/standards/#pagination).",
            "type": "integer",
            "minimum": 0
          },
          "totalRecords": {
            "description": "The total number of records in the full set. See [pagination](https://consumerdatastandardsaustralia.github.io/standards/#pagination).",
            "type": "integer",
            "minimum": 0
          }
        },
        "required": [
          "totalPages",
          "totalRecords"
        ],
        "type": "object"
      },
      "ResponseBankingAccountListV1": {
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "accounts": {
                "description": "The list of accounts returned. If the filter results in an empty set then this array may have no records",
                "items": {
                  "$ref": "#/components/schemas/BankingAccountV1"
                },
                "type": "array"
              }
            },
            "required": [
              "accounts"
            ]
          },
          "links": {
            "$ref": "#/components/schemas/LinksPaginatedV1"
          },
          "meta": {
            "$ref": "#/components/schemas/MetaPaginatedV1"
          }
        },
        "required": [
          "data",
          "links",
          "meta"
        ],
        "type": "object"
      },
      "ErrorFieldInvalidV1": {
        "type": "object",
        "properties": {
          "code": {
            "description": "Holds an end point specific error code. This MAY be a standard CDR error code or an application-specific error code.",
            "type": "string",
            "format": "uri",
            "default": "urn:au-cds:error:cds-all:Field/Invalid"
          },
          "title": {
            "description": "Holds a human readable label of the error that is constant per code",
            "type": "string",
            "default": "Invalid Field"
          },
          "detail": {
            "description": "Holds a human readable description of this specific error. The error detail SHOULD be the parameter name of the invalid field. The error detail MAY include further details explaining the valid format.",
            "type": "string"
          },
          "meta": {
            "description": "Holds additional end point specific data relevant to the error",
            "properties": {
              "urn": {
                "description": "Holds a standard CDR error code",
                "type": "string",
                "format": "uri"
              }
            },
            "default": "urn:au-cds:error:cds-all:Field/Invalid",
            "type": "object"
          }
        },
        "required": [
          "code",
          "title",
          "detail"
        ]
      },
      "ErrorFieldInvalidPageSizeV1": {
        "type": "object",
        "properties": {
          "code": {
            "description": "Holds an end point specific error code. This MAY be a standard CDR error code or an application-specific error code.",
            "type": "string",
            "format": "uri",
            "default": "urn:au-cds:error:cds-all:Field/InvalidPageSize"
          },
          "title": {
            "description": "Holds a human readable label of the error that is constant per code",
            "type": "string",
            "default": "Invalid Page Size"
          },
          "detail": {
            "description": "Holds a human readable description of this specific error.",
            "type": "string"
          },
          "meta": {
            "description": "Holds additional end point specific data relevant to the error",
            "properties": {
              "urn": {
                "description": "Holds a standard CDR error code",
                "type": "string",
                "format": "uri"
              }
            },
            "default": "urn:au-cds:error:cds-all:Field/InvalidPageSize",
            "type": "object"
          }
        },
        "required": [
          "code",
          "title",
          "detail"
        ]
      },
      "ErrorHeaderInvalidVersionV1": {
        "type": "object",
        "properties": {
          "code": {
            "description": "Holds an end point specific error code. This MAY be a standard CDR error code or an application-specific error code.",
            "type": "string",
            "format": "uri",
            "default": "urn:au-cds:error:cds-all:Field/InvalidVersion"
          },
          "title": {
            "description": "Holds a human readable label of the error that is constant per code",
            "type": "string",
            "default": "Invalid Version"
          },
          "detail": {
            "description": "Holds a human readable description of this specific error.",
            "type": "string"
          },
          "meta": {
            "description": "Holds additional end point specific data relevant to the error",
            "properties": {
              "urn": {
                "description": "Holds a standard CDR error code",
                "type": "string",
                "format": "uri"
              }
            },
            "default": "urn:au-cds:error:cds-all:Field/InvalidVersion",
            "type": "object"
          }
        },
        "required": [
          "code",
          "title",
          "detail"
        ]
      },
      "ErrorGeneralExpectedV1": {
        "type": "object",
        "properties": {
          "code": {
            "description": "Holds an end point specific error code. This MAY be a standard CDR error code or an application-specific error code.",
            "type": "string",
            "format": "uri",
            "default": "urn:au-cds:error:cds-all:GeneralError/Expected"
          },
          "title": {
            "description": "Holds a human readable label of the error that is constant per code",
            "type": "string",
            "default": "Expected Error Encountered"
          },
          "detail": {
            "description": "Holds a human readable description of this specific error. The error detail SHOULD be populated with a meaningful error description, without revealing sensitive information.",
            "type": "string"
          },
          "meta": {
            "description": "Holds additional end point specific data relevant to the error",
            "properties": {
              "urn": {
                "description": "Holds a standard CDR error code",
                "type": "string",
                "format": "uri",
                "default": "urn:au-cds:error:cds-all:GeneralError/Expected"
              }
            },
            "type": "object"
          }
        },
        "required": [
          "code",
          "title",
          "detail"
        ]
      },
      "ErrorHeaderMissingV1": {
        "type": "object",
        "properties": {
          "code": {
            "description": "Holds an end point specific error code. This MAY be a standard CDR error code or an application-specific error code.",
            "type": "string",
            "format": "uri",
            "default": "urn:au-cds:error:cds-all:Header/Missing"
          },
          "title": {
            "description": "Holds a human readable label of the error that is constant per code",
            "type": "string",
            "default": "Missing Required Header"
          },
          "detail": {
            "description": "Holds a human readable description of this specific error. The error detail SHOULD be the HTTP header name.",
            "type": "string"
          },
          "meta": {
            "description": "Holds additional end point specific data relevant to the error",
            "properties": {
              "urn": {
                "description": "Holds a standard CDR error code",
                "type": "string",
                "format": "uri"
              }
            },
            "default": "urn:au-cds:error:cds-all:Header/Missing",
            "type": "object"
          }
        },
        "required": [
          "code",
          "title",
          "detail"
        ]
      },
      "ErrorHeaderInvalidV1": {
        "type": "object",
        "properties": {
          "code": {
            "description": "Holds an end point specific error code. This MAY be a standard CDR error code or an application-specific error code.",
            "type": "string",
            "format": "uri",
            "default": "urn:au-cds:error:cds-all:Header/Invalid"
          },
          "title": {
            "description": "Holds a human readable label of the error that is constant per code",
            "type": "string",
            "default": "Invalid Header"
          },
          "detail": {
            "description": "Holds a human readable description of this specific error. The error detail SHOULD be the HTTP header name. The error detail MAY include further details explaining the valid format.",
            "type": "string"
          },
          "meta": {
            "description": "Holds additional end point specific data relevant to the error",
            "properties": {
              "urn": {
                "description": "Holds a standard CDR error code",
                "type": "string",
                "format": "uri"
              }
            },
            "default": "urn:au-cds:error:cds-all:Header/Invalid",
            "type": "object"
          }
        },
        "required": [
          "code",
          "title",
          "detail"
        ]
      },
      "ListAccounts400Item": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/ErrorFieldInvalidV1"
          },
          {
            "$ref": "#/components/schemas/ErrorFieldInvalidPageSizeV1"
          },
          {
            "$ref": "#/components/schemas/ErrorHeaderInvalidVersionV1"
          },
          {
            "$ref": "#/components/schemas/ErrorGeneralExpectedV1"
          },
          {
            "$ref": "#/components/schemas/ErrorHeaderMissingV1"
          },
          {
            "$ref": "#/components/schemas/ErrorHeaderInvalidV1"
          }
        ],
        "discriminator": {
          "propertyName": "code"
        }
      },
      "ErrorAuthorisationADRStatusNotActiveV1": {
        "type": "object",
        "properties": {
          "code": {
            "description": "Holds an end point specific error code. This MAY be a standard CDR error code or an application-specific error code.",
            "type": "string",
            "format": "uri",
            "default": "urn:au-cds:error:cds-all:Authorisation/AdrStatusNotActive"
          },
          "title": {
            "description": "Holds a human readable label of the error that is constant per code",
            "type": "string",
            "default": "ADR Status Is Not Active"
          },
          "detail": {
            "description": "Holds a human readable description of this specific error. The error detail SHOULD contain the current status of the ADR software product.",
            "type": "string"
          },
          "meta": {
            "description": "Holds additional end point specific data relevant to the error",
            "properties": {
              "urn": {
                "description": "Holds a standard CDR error code",
                "type": "string",
                "format": "uri"
              }
            },
            "default": "urn:au-cds:error:cds-all:Authorisation/AdrStatusNotActive",
            "type": "object"
          }
        },
        "required": [
          "code",
          "title",
          "detail"
        ]
      },
      "ErrorAuthorisationConsentRevokedV1": {
        "type": "object",
        "properties": {
          "code": {
            "description": "Holds an end point specific error code. This MAY be a standard CDR error code or an application-specific error code.",
            "type": "string",
            "format": "uri",
            "default": "urn:au-cds:error:cds-all:Authorisation/RevokedConsent"
          },
          "title": {
            "description": "Holds a human readable label of the error that is constant per code",
            "type": "string",
            "default": "Consent Is Revoked"
          },
          "detail": {
            "description": "The consumer's consent is no longer authorised (for example revoked or expired) and the requested resource will not be provided.",
            "type": "string"
          },
          "meta": {
            "description": "Holds additional end point specific data relevant to the error",
            "properties": {
              "urn": {
                "description": "Holds a standard CDR error code",
                "type": "string",
                "format": "uri"
              }
            },
            "default": "urn:au-cds:error:cds-all:Authorisation/RevokedConsent",
            "type": "object"
          }
        },
        "required": [
          "code",
          "title",
          "detail"
        ]
      },
      "ErrorAuthorisationInvalidConsentV1": {
        "type": "object",
        "properties": {
          "code": {
            "description": "Holds an end point specific error code. This MAY be a standard CDR error code or an application-specific error code.",
            "type": "string",
            "format": "uri",
            "default": "urn:au-cds:error:cds-all:Authorisation/InvalidConsent"
          },
          "title": {
            "description": "Holds a human readable label of the error that is constant per code",
            "type": "string",
            "default": "Consent Is Invalid"
          },
          "detail": {
            "description": "The authorised consumer's consent is not associated to the resource requested, is insufficient to execute the resource or is in a status that prevents the resource being executed. The error detail SHOULD be a description of the status of consent without revealing sensitive information.",
            "type": "string"
          },
          "meta": {
            "description": "Holds additional end point specific data relevant to the error",
            "properties": {
              "urn": {
                "description": "Holds a standard CDR error code",
                "type": "string",
                "format": "uri"
              }
            },
            "default": "urn:au-cds:error:cds-all:Authorisation/InvalidConsent",
            "type": "object"
          }
        },
        "required": [
          "code",
          "title",
          "detail"
        ]
      },
      "Generic403Item": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/ErrorAuthorisationADRStatusNotActiveV1"
          },
          {
            "$ref": "#/components/schemas/ErrorAuthorisationConsentRevokedV1"
          },
          {
            "$ref": "#/components/schemas/ErrorAuthorisationInvalidConsentV1"
          }
        ],
        "discriminator": {
          "propertyName": "code"
        }
      },
      "ErrorHeaderUnsupportedVersionV1": {
        "type": "object",
        "properties": {
          "code": {
            "description": "Holds an end point specific error code. This MAY be a standard CDR error code or an application-specific error code.",
            "type": "string",
            "format": "uri",
            "default": "urn:au-cds:error:cds-banking:Header/UnsupportedVersion"
          },
          "title": {
            "description": "Holds a human readable label of the error that is constant per code",
            "type": "string",
            "default": "Unsupported Version"
          },
          "detail": {
            "description": "A request is made for a version that is lower than the minimum version or greater than maximum version the Data Holder supports for the requested endpoint. The error detail MAY include the minimum and maximum versions the Data Holder supports.",
            "type": "string"
          },
          "meta": {
            "description": "Holds additional end point specific data relevant to the error",
            "properties": {
              "urn": {
                "description": "Holds a standard CDR error code",
                "type": "string",
                "format": "uri"
              }
            },
            "default": "urn:au-cds:error:cds-banking:Header/UnsupportedVersion",
            "type": "object"
          }
        },
        "required": [
          "code",
          "title",
          "detail"
        ]
      },
      "ListAccounts406Item": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/ErrorHeaderUnsupportedVersionV1"
          },
          {
            "$ref": "#/components/schemas/ErrorGeneralExpectedV1"
          }
        ],
        "discriminator": {
          "propertyName": "code"
        }
      },
      "ErrorFieldInvalidPageV1": {
        "type": "object",
        "properties": {
          "code": {
            "description": "Holds an end point specific error code. This MAY be a standard CDR error code or an application-specific error code.",
            "type": "string",
            "format": "uri",
            "default": "urn:au-cds:error:cds-all:Field/InvalidPage"
          },
          "title": {
            "description": "Holds a human readable label of the error that is constant per code",
            "type": "string",
            "default": "Invalid Page"
          },
          "detail": {
            "description": "The page being requested it out of of range. For example, the valid pagination range is 5 pages and the client requested page=10). The error detail SHOULD be the maximum number of pages that are available.",
            "type": "string"
          },
          "meta": {
            "description": "Holds additional end point specific data relevant to the error",
            "properties": {
              "urn": {
                "description": "Holds a standard CDR error code",
                "type": "string",
                "format": "uri"
              }
            },
            "default": "urn:au-cds:error:cds-all:Field/InvalidPage",
            "type": "object"
          }
        },
        "required": [
          "code",
          "title",
          "detail"
        ]
      },
      "ListAccounts422Item": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/ErrorFieldInvalidPageV1"
          },
          {
            "$ref": "#/components/schemas/ErrorGeneralExpectedV1"
          }
        ],
        "discriminator": {
          "propertyName": "code"
        }
      },
      "ErrorGeneralUnexpectedV1": {
        "type": "object",
        "properties": {
          "code": {
            "description": "Holds an end point specific error code. This MAY be a standard CDR error code or an application-specific error code.",
            "type": "string",
            "format": "uri",
            "default": "urn:au-cds:error:cds-all:GeneralError/Unexpected"
          },
          "title": {
            "description": "Holds a human readable label of the error that is constant per code",
            "type": "string",
            "default": "Unexpected Error Encountered"
          },
          "detail": {
            "description": "Holds a human readable description of this specific error. The error detail SHOULD be populated with a meaningful error description, without revealing sensitive information.",
            "type": "string"
          },
          "meta": {
            "description": "Holds additional end point specific data relevant to the error",
            "properties": {
              "urn": {
                "description": "Holds a standard CDR error code",
                "type": "string",
                "format": "uri",
                "default": "urn:au-cds:error:cds-all:GeneralError/Unexpected"
              }
            },
            "type": "object"
          }
        },
        "required": [
          "code",
          "title",
          "detail"
        ]
      },
      "ErrorServiceUnavailableV1": {
        "type": "object",
        "properties": {
          "code": {
            "description": "Holds an end point specific error code. This MAY be a standard CDR error code or an application-specific error code.",
            "type": "string",
            "format": "uri",
            "default": "urn:au-cds:error:cds-all:Service/Unavailable"
          },
          "title": {
            "description": "Holds a human readable label of the error that is constant per code",
            "type": "string",
            "default": "Service Unavailable"
          },
          "detail": {
            "description": "Holds a human readable description of this specific error",
            "type": "string"
          },
          "meta": {
            "description": "Holds additional end point specific data relevant to the error",
            "properties": {
              "urn": {
                "description": "Holds a standard CDR error code",
                "type": "string",
                "format": "uri",
                "default": "urn:au-cds:error:cds-all:Service/Unavailable"
              }
            },
            "type": "object"
          }
        },
        "required": [
          "code",
          "title",
          "detail"
        ]
      },
      "BankingBalancePurseV1": {
        "properties": {
          "amount": {
            "description": "The balance available for this additional currency purse",
            "type": "string",
            "format": "AmountString",
            "example": "10.00"
          },
          "currency": {
            "description": "The currency for the purse",
            "type": "string",
            "format": "CurrencyString",
            "example": "AUD"
          }
        },
        "required": [
          "amount"
        ],
        "type": "object"
      },
      "BankingBalanceV1": {
        "properties": {
          "accountId": {
            "description": "A unique ID of the account adhering to the standards for ID permanence",
            "type": "string"
          },
          "amortisedLimit": {
            "description": "Object representing the available limit amortised according to payment schedule. Assumed to be zero if absent",
            "type": "string",
            "format": "AmountString",
            "example": "10.00"
          },
          "availableBalance": {
            "description": "Balance representing the amount of funds available for transfer. Assumed to be zero or positive",
            "type": "string",
            "format": "AmountString",
            "example": "10.00"
          },
          "creditLimit": {
            "description": "Object representing the maximum amount of credit that is available for this account. Assumed to be zero if absent",
            "type": "string",
            "format": "AmountString",
            "example": "10.00"
          },
          "currency": {
            "description": "The currency for the balance amounts. If absent assumed to be AUD",
            "type": "string",
            "format": "CurrencyString",
            "example": "AUD"
          },
          "currentBalance": {
            "description": "The balance of the account at this time. Should align to the balance available via other channels such as Internet Banking. Assumed to be negative if the customer has money owing",
            "type": "string",
            "format": "AmountString",
            "example": "10.00"
          },
          "purses": {
            "description": "Optional array of balances for the account in other currencies. Included to support accounts that support multi-currency purses such as Travel Cards",
            "items": {
              "$ref": "#/components/schemas/BankingBalancePurseV1"
            },
            "type": "array"
          }
        },
        "required": [
          "accountId",
          "availableBalance",
          "currentBalance"
        ],
        "type": "object"
      },
      "ResponseBankingAccountsBalanceListV1": {
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "balances": {
                "description": "The list of balances returned",
                "items": {
                  "$ref": "#/components/schemas/BankingBalanceV1"
                },
                "type": "array"
              }
            },
            "required": [
              "balances"
            ]
          },
          "links": {
            "$ref": "#/components/schemas/LinksPaginatedV1"
          },
          "meta": {
            "$ref": "#/components/schemas/MetaPaginatedV1"
          }
        },
        "required": [
          "data",
          "links",
          "meta"
        ],
        "type": "object"
      },
      "ListBalancesBulk400Item": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/ErrorFieldInvalidV1"
          },
          {
            "$ref": "#/components/schemas/ErrorFieldInvalidPageSizeV1"
          },
          {
            "$ref": "#/components/schemas/ErrorHeaderInvalidVersionV1"
          },
          {
            "$ref": "#/components/schemas/ErrorGeneralExpectedV1"
          },
          {
            "$ref": "#/components/schemas/ErrorHeaderMissingV1"
          },
          {
            "$ref": "#/components/schemas/ErrorHeaderInvalidV1"
          }
        ],
        "discriminator": {
          "propertyName": "code"
        }
      },
      "ListBalancesBulk406Item": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/ErrorHeaderUnsupportedVersionV1"
          },
          {
            "$ref": "#/components/schemas/ErrorGeneralExpectedV1"
          }
        ],
        "discriminator": {
          "propertyName": "code"
        }
      },
      "ListBalancesSpecificAccounts400Item": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/ErrorFieldInvalidPageSizeV1"
          },
          {
            "$ref": "#/components/schemas/ErrorHeaderInvalidVersionV1"
          },
          {
            "$ref": "#/components/schemas/ErrorGeneralExpectedV1"
          },
          {
            "$ref": "#/components/schemas/ErrorHeaderMissingV1"
          },
          {
            "$ref": "#/components/schemas/ErrorHeaderInvalidV1"
          }
        ],
        "discriminator": {
          "propertyName": "code"
        }
      },
      "ListBalancesSpecificAccounts406Item": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/ErrorHeaderUnsupportedVersionV1"
          },
          {
            "$ref": "#/components/schemas/ErrorGeneralExpectedV1"
          }
        ],
        "discriminator": {
          "propertyName": "code"
        }
      },
      "ErrorBankingAuthorisationUnavailableAccountV1": {
        "type": "object",
        "properties": {
          "code": {
            "description": "Holds an end point specific error code. This MAY be a standard CDR error code or an application-specific error code.",
            "type": "string",
            "format": "uri",
            "default": "urn:au-cds:error:cds-banking:Authorisation/UnavailableBankingAccount"
          },
          "title": {
            "description": "Holds a human readable label of the error that is constant per code",
            "type": "string",
            "default": "Unavailable Banking Account"
          },
          "detail": {
            "description": "The requested bank account is temporarily unavailable. Subsequent requests for the account may be successful. Applies when the account ID is provided in the URI. The error detail is the account ID of the resource being requested.",
            "type": "string"
          },
          "meta": {
            "description": "Holds additional end point specific data relevant to the error",
            "properties": {
              "urn": {
                "description": "Holds a standard CDR error code",
                "type": "string",
                "format": "uri"
              }
            },
            "default": "urn:au-cds:error:cds-banking:Authorisation/UnavailableBankingAccount",
            "type": "object"
          }
        },
        "required": [
          "code",
          "title",
          "detail"
        ]
      },
      "ErrorBankingAuthorisationInvalidAccountV1": {
        "type": "object",
        "properties": {
          "code": {
            "description": "Holds an end point specific error code. This MAY be a standard CDR error code or an application-specific error code.",
            "type": "string",
            "format": "uri",
            "default": "urn:au-cds:error:cds-banking:Authorisation/InvalidBankingAccount"
          },
          "title": {
            "description": "Holds a human readable label of the error that is constant per code",
            "type": "string",
            "default": "Invalid Banking Account"
          },
          "detail": {
            "description": "The requested bank account is permanently unavailable. No subsequent request for the account will be successful. Applies when the account ID is provided in the URI. The error detail is the account ID of the resource being requested.",
            "type": "string"
          },
          "meta": {
            "description": "Holds additional end point specific data relevant to the error",
            "properties": {
              "urn": {
                "description": "Holds a standard CDR error code",
                "type": "string",
                "format": "uri"
              }
            },
            "default": "urn:au-cds:error:cds-banking:Authorisation/InvalidBankingAccount",
            "type": "object"
          }
        },
        "required": [
          "code",
          "title",
          "detail"
        ]
      },
      "ListBalancesSpecificAccounts422Item": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/ErrorFieldInvalidPageV1"
          },
          {
            "$ref": "#/components/schemas/ErrorBankingAuthorisationUnavailableAccountV1"
          },
          {
            "$ref": "#/components/schemas/ErrorBankingAuthorisationInvalidAccountV1"
          },
          {
            "$ref": "#/components/schemas/ErrorGeneralExpectedV1"
          }
        ],
        "discriminator": {
          "propertyName": "code"
        }
      },
      "EnumCommonStateV1": {
        "description": "State in which the address belongs. Valid enumeration defined by Australia Post PAF code file [State Type Abbreviation](https://auspost.com.au/content/dam/auspost_corp/media/documents/australia-post-data-guide.pdf). NSW, QLD, VIC, NT, WA, SA, TAS, ACT, AAT",
        "enum": [
          "AAT",
          "ACT",
          "NSW",
          "NT",
          "QLD",
          "SA",
          "TAS",
          "VIC",
          "WA"
        ],
        "type": "string"
      },
      "CommonPAFAddressV1": {
        "description": "Australian address formatted according to the file format defined by the [PAF file format](https://auspost.com.au/content/dam/auspost_corp/media/documents/australia-post-data-guide.pdf)",
        "properties": {
          "buildingName1": {
            "description": "Building/Property name 1",
            "type": "string"
          },
          "buildingName2": {
            "description": "Building/Property name 2",
            "type": "string"
          },
          "dpid": {
            "description": "Unique identifier for an address as defined by Australia Post.  Also known as Delivery Point Identifier",
            "type": "string"
          },
          "flatUnitNumber": {
            "description": "Unit number (including suffix, if applicable)",
            "type": "string"
          },
          "flatUnitType": {
            "description": "Type of flat or unit for the address",
            "type": "string"
          },
          "floorLevelNumber": {
            "description": "Floor or level number (including alpha characters)",
            "type": "string"
          },
          "floorLevelType": {
            "description": "Type of floor or level for the address",
            "type": "string"
          },
          "localityName": {
            "description": "Full name of locality",
            "type": "string"
          },
          "lotNumber": {
            "description": "Allotment number for the address",
            "type": "string"
          },
          "postalDeliveryNumber": {
            "description": "Postal delivery number if the address is a postal delivery type",
            "type": "integer",
            "format": "PositiveInteger"
          },
          "postalDeliveryNumberPrefix": {
            "description": "Postal delivery number prefix related to the postal delivery number",
            "type": "string"
          },
          "postalDeliveryNumberSuffix": {
            "description": "Postal delivery number suffix related to the postal delivery number",
            "type": "string"
          },
          "postalDeliveryType": {
            "description": "Postal delivery type. (eg. PO BOX). Valid enumeration defined by Australia Post PAF code file",
            "type": "string"
          },
          "postcode": {
            "description": "Postcode for the locality",
            "type": "string"
          },
          "state": {
            "$ref": "#/components/schemas/EnumCommonStateV1"
          },
          "streetName": {
            "description": "The name of the street",
            "type": "string"
          },
          "streetSuffix": {
            "description": "The street type suffix. Valid enumeration defined by Australia Post PAF code file",
            "type": "string"
          },
          "streetType": {
            "description": "The street type. Valid enumeration defined by Australia Post PAF code file",
            "type": "string"
          },
          "thoroughfareNumber1": {
            "description": "Thoroughfare number for a property (first number in a property ranged address)",
            "type": "integer",
            "minimum": 1
          },
          "thoroughfareNumber1Suffix": {
            "description": "Suffix for the thoroughfare number. Only relevant is thoroughfareNumber1 is populated",
            "type": "string"
          },
          "thoroughfareNumber2": {
            "description": "Second thoroughfare number (only used if the property has a ranged address eg 23-25)",
            "type": "integer",
            "minimum": 1
          },
          "thoroughfareNumber2Suffix": {
            "description": "Suffix for the second thoroughfare number. Only relevant is thoroughfareNumber2 is populated",
            "type": "string"
          }
        },
        "required": [
          "localityName",
          "postcode",
          "state"
        ],
        "type": "object"
      },
      "CommonSimpleAddressV1": {
        "properties": {
          "addressLine1": {
            "description": "First line of the standard address object",
            "type": "string"
          },
          "addressLine2": {
            "description": "Second line of the standard address object",
            "type": "string"
          },
          "addressLine3": {
            "description": "Third line of the standard address object",
            "type": "string"
          },
          "city": {
            "description": "Name of the city or locality",
            "type": "string"
          },
          "country": {
            "default": "AUS",
            "description": "A valid [ISO 3166 Alpha-3](https://www.iso.org/iso-3166-country-codes.html) country code. Australia (AUS) is assumed if country is not present.",
            "type": "string",
            "format": "CountryString"
          },
          "mailingName": {
            "description": "Name of the individual or business formatted for inclusion in an address used for physical mail",
            "type": "string"
          },
          "postcode": {
            "description": "Mandatory for Australian addresses",
            "type": "string"
          },
          "state": {
            "description": "Free text if the country is not Australia. If country is Australia then must be one of the values defined by the [State Type Abbreviation](https://auspost.com.au/content/dam/auspost_corp/media/documents/australia-post-data-guide.pdf) in the PAF file format. NSW, QLD, VIC, NT, WA, SA, TAS, ACT, AAT",
            "type": "string"
          }
        },
        "required": [
          "addressLine1",
          "city",
          "state"
        ],
        "type": "object",
        "x-conditional": [
          "postcode"
        ]
      },
      "CommonPhysicalAddressV1": {
        "properties": {
          "addressUType": {
            "description": "The type of address object present",
            "enum": [
              "paf",
              "simple"
            ],
            "type": "string"
          },
          "paf": {
            "$ref": "#/components/schemas/CommonPAFAddressV1"
          },
          "simple": {
            "$ref": "#/components/schemas/CommonSimpleAddressV1"
          }
        },
        "required": [
          "addressUType"
        ],
        "type": "object",
        "x-conditional": [
          "simple",
          "paf"
        ]
      },
      "BankingCreditCardAccountV1": {
        "properties": {
          "minPaymentAmount": {
            "description": "The minimum payment amount due for the next card payment",
            "type": "string",
            "format": "AmountString",
            "example": "10.00"
          },
          "paymentCurrency": {
            "description": "If absent assumes AUD",
            "type": "string",
            "format": "CurrencyString",
            "example": "AUD"
          },
          "paymentDueAmount": {
            "description": "The amount due for the next card payment",
            "type": "string",
            "format": "AmountString",
            "example": "10.00"
          },
          "paymentDueDate": {
            "description": "Date that the next payment for the card is due",
            "type": "string",
            "format": "date"
          }
        },
        "required": [
          "minPaymentAmount",
          "paymentDueAmount",
          "paymentDueDate"
        ],
        "type": "object"
      },
      "BankingProductRateConditionV1": {
        "description": "Defines a condition for the applicability of a tiered rate",
        "properties": {
          "additionalInfo": {
            "description": "Display text providing more information on the condition",
            "type": "string"
          },
          "additionalInfoUri": {
            "description": "Link to a web page with more information on this condition",
            "type": "string",
            "format": "uri"
          }
        },
        "type": "object"
      },
      "EnumBankingRateApplicationMethodV1": {
        "description": "The method used to calculate the amount to be applied using one or more tiers. A single rate may be applied to the entire balance or each applicable tier rate is applied to the portion of the balance that falls into that tier (referred to as 'bands' or 'steps')",
        "enum": [
          "PER_TIER",
          "WHOLE_BALANCE"
        ],
        "type": "string"
      },
      "EnumUnitOfMeasureV1": {
        "description": "The unit of measure that applies to the tierValueMinimum and tierValueMaximum values e.g. a **DOLLAR** amount. **PERCENT** (in the case of loan-to-value ratio or LVR). Tier term period representing a discrete number of **MONTH**'s or **DAY**'s (in the case of term deposit tiers)",
        "enum": [
          "DAY",
          "DOLLAR",
          "MONTH",
          "PERCENT"
        ],
        "type": "string"
      },
      "BankingProductRateTierV2": {
        "description": "Defines the criteria and conditions for which a rate applies",
        "properties": {
          "applicabilityConditions": {
            "$ref": "#/components/schemas/BankingProductRateConditionV1"
          },
          "maximumValue": {
            "description": "The number of tierUnitOfMeasure units that form the upper bound of the tier or band. For a tier with a discrete value (as opposed to a range of values e.g. 1 month) this must be the same as tierValueMinimum. Where this is the same as the tierValueMinimum value of the next-higher tier the referenced tier should be exclusive of this value. For example a term deposit of 2 months falls into the upper tier of the following tiers: (1 – 2 months, 2 – 3 months). If absent the tier's range has no upper bound.",
            "type": "number"
          },
          "minimumValue": {
            "description": "The number of tierUnitOfMeasure units that form the lower bound of the tier. The tier should be inclusive of this value",
            "type": "number"
          },
          "name": {
            "description": "A display name for the tier",
            "type": "string"
          },
          "rateApplicationMethod": {
            "$ref": "#/components/schemas/EnumBankingRateApplicationMethodV1"
          },
          "unitOfMeasure": {
            "$ref": "#/components/schemas/EnumUnitOfMeasureV1"
          }
        },
        "required": [
          "minimumValue",
          "name",
          "unitOfMeasure"
        ],
        "type": "object"
      },
      "BankingProductDepositRateV2": {
        "properties": {
          "additionalInfo": {
            "description": "Display text providing more information on the rate",
            "type": "string",
            "example": "A great deposit rate"
          },
          "additionalInfoUri": {
            "description": "Link to a web page with more information on this rate",
            "type": "string",
            "format": "uri"
          },
          "additionalValue": {
            "description": "Generic field containing additional information relevant to the [depositRateType](https://consumerdatastandardsaustralia.github.io/standards/#tocSproductdepositratetypedoc) specified. Whether mandatory or not is dependent on the value of [depositRateType](https://consumerdatastandardsaustralia.github.io/standards/#tocSproductdepositratetypedoc)",
            "type": "string",
            "example": "Type specific value, see docs"
          },
          "applicationFrequency": {
            "description": "The period after which the calculated amount(s) (see calculationFrequency) are 'applied' (i.e. debited or credited) to the account. Formatted according to [ISO 8601 Durations](https://en.wikipedia.org/wiki/ISO_8601#Durations) (excludes recurrence syntax)",
            "type": "string",
            "format": "DurationString",
            "example": "P30D"
          },
          "calculationFrequency": {
            "description": "The period after which the rate is applied to the balance to calculate the amount due for the period. Calculation of the amount is often daily (as balances may change) but accumulated until the total amount is 'applied' to the account (see applicationFrequency). Formatted according to [ISO 8601 Durations](https://en.wikipedia.org/wiki/ISO_8601#Durations) (excludes recurrence syntax)",
            "type": "string",
            "format": "DurationString",
            "example": "P1D"
          },
          "depositRateType": {
            "description": "The type of rate (base, bonus, etc). See the next section for an overview of valid values and their meaning",
            "enum": [
              "FIXED",
              "BONUS",
              "BUNDLE_BONUS",
              "VARIABLE",
              "INTRODUCTORY",
              "FLOATING",
              "MARKET_LINKED"
            ],
            "type": "string",
            "example": "FIXED"
          },
          "rate": {
            "description": "The rate to be applied",
            "type": "string",
            "format": "RateString",
            "example": "0.011"
          },
          "tiers": {
            "description": "Rate tiers applicable for this rate",
            "items": {
              "$ref": "#/components/schemas/BankingProductRateTierV2"
            },
            "type": "array"
          }
        },
        "required": [
          "depositRateType",
          "rate"
        ],
        "type": "object",
        "x-conditional": [
          "additionalValue"
        ]
      },
      "EnumBankingProductFeatureTypeV1": {
        "description": "\nEach Product or Account has a set of Product Features. These are explained in a table as follows:\n\n| Value | Description | Use of `additionalValue` Field\n|-------|-------------|-------------------------------|\nCARD_ACCESS | A card is available for the product to access funds | Text describing list of card types that this product can be linked to\nADDITIONAL_CARDS | Additional cards can be requested | The maximum number of additional cards. If no maximum then should be set to null\nUNLIMITED_TXNS | Unlimited free transactions available | NA\nFREE_TXNS | A set number of free transactions available per month | The number of free transactions\nFREE_TXNS_ALLOWANCE | A set amount of transaction fee value that is discounted per month | The amount of transaction fee discounted (in AUD)\nLOYALTY_PROGRAM | A points based loyalty program is available | Name of the loyalty program\nOFFSET | An offset account can be connected to the product | NA\nOVERDRAFT | An overdraft can be applied for | NA\nREDRAW | Redraw of repaid principal above minimum required is available | NA\nINSURANCE | Insurance is provided as an additional feature of the product | Text description of the type of insurance (e.g. Travel Insurance)\nBALANCE_TRANSFERS | Balance transfers can be made to the account (eg. for credit cards) | NA\nINTEREST_FREE | Interest free period for purchases | Interest free period. Formatted according to ISO 8601 Durations\nINTEREST_FREE_TRANSFERS | Interest free period for balance transfers | Interest free period. Formatted according to ISO 8601 Durations\nDIGITAL_WALLET | A Digital wallet can be attached to the product | The name or brand of the wallet\nDIGITAL_BANKING | Access is available to online banking features for the product | NA\nNPP_PAYID | An account of this product type can be used as the target of an NPP PayID | NA\nNPP_ENABLED | An account of this product type can be used to receive funds as a result of a BSB/Number based NPP payment | NA\nDONATE_INTEREST | Indicates that interest generated from the product can be automatically donated to a charity or community group | NA\nBILL_PAYMENT | The product can be attached to an automatic budgeting and bill payment service | Optional name of the service\nCOMPLEMENTARY_PRODUCT_DISCOUNTS | Indicates that complementary, discounted offerings (such as gift cards, or discounted travel) is available | Description of the complementary offering\nBONUS_REWARDS | Bonus loyalty rewards points are available | Number of points available\nNOTIFICATIONS | Advanced notifications are available for the product | Description of the notification capability\nOTHER | Another feature that can not be included in any of the other categories. The additionalInfo field is mandatory for this type | NA\n",
        "enum": [
          "ADDITIONAL_CARDS",
          "BALANCE_TRANSFERS",
          "BILL_PAYMENT",
          "BONUS_REWARDS",
          "CARD_ACCESS",
          "COMPLEMENTARY_PRODUCT_DISCOUNTS",
          "DIGITAL_BANKING",
          "DIGITAL_WALLET",
          "DONATE_INTEREST",
          "FREE_TXNS",
          "FREE_TXNS_ALLOWANCE",
          "INSURANCE",
          "INTEREST_FREE",
          "INTEREST_FREE_TRANSFERS",
          "LOYALTY_PROGRAM",
          "NOTIFICATIONS",
          "NPP_ENABLED",
          "NPP_PAYID",
          "OFFSET",
          "OTHER",
          "OVERDRAFT",
          "REDRAW",
          "UNLIMITED_TXNS"
        ],
        "type": "string",
        "example": "CARD_ACCESS"
      },
      "BankingProductFeatureV1": {
        "properties": {
          "additionalInfo": {
            "description": "Display text providing more information on the feature. Mandatory if the [feature type](https://consumerdatastandardsaustralia.github.io/standards/#tocSproductfeaturetypedoc) is set to OTHER",
            "type": "string",
            "example": "Additional Feature Information"
          },
          "additionalInfoUri": {
            "description": "Link to a web page with more information on this feature",
            "type": "string",
            "format": "uri"
          },
          "additionalValue": {
            "description": "Generic field containing additional information relevant to the [featureType](https://consumerdatastandardsaustralia.github.io/standards/#tocSproductfeaturetypedoc) specified. Whether mandatory or not is dependent on the value of the [featureType.](https://consumerdatastandardsaustralia.github.io/standards/#tocSproductfeaturetypedoc)",
            "example": "Type specific value, see docs",
            "type": "string"
          },
          "featureType": {
            "$ref": "#/components/schemas/EnumBankingProductFeatureTypeV1"
          }
        },
        "required": [
          "featureType"
        ],
        "type": "object",
        "x-conditional": [
          "additionalValue",
          "additionalInfo"
        ]
      },
      "EnumBankingProductDiscountTypeV1": {
        "description": "\nEach Product or Account has a set of Discount Types types. These are explained in a table as follows:\n\n| Value | Description | Use of `additionalValue` Field\n|-------|-------------|-------------------------------|\nBALANCE | Discount on a fee for maintaining a set balance. As the discount applies to a fee the period is the same as for the fee | The minimum balance in AmountString format\nDEPOSITS | Discount for depositing a certain amount of money in a period. As the discount applies to a fee the period is the same as for the fee | The minimum deposit amount in AmountString format\nPAYMENTS | Discount for outbound payments from the account under a certain amount of money in a period. As the discount applies to a fee the period is the same as for the fee | The payment threshold amount in AmountString format\nFEE_CAP | The amount, balanceRate, transactionRate, accruedRate or feeRate fields of the discount represent the maximum amount charged in a time period | The time period for which the fee cap applies. Formatted according to ISO 8601 Durations\nELIGIBILITY_ONLY | Discount applies based on customer eligibility (eligibility array must be populated) | N/A\n",
        "enum": [
          "BALANCE",
          "DEPOSITS",
          "ELIGIBILITY_ONLY",
          "FEE_CAP",
          "PAYMENTS"
        ],
        "type": "string",
        "example": "BALANCE"
      },
      "EnumBankingProductDiscountEligibilityTypeV1": {
        "description": "\nEach Product or Account has a set of Discount Eligibility Types types. These are explained in a table as follows:\n\n| Value | Description | Use of `additionalValue` Field\n|-------|-------------|-------------------------------|\nBUSINESS | A business or other non-person legal entity | NA\nPENSION_RECIPIENT | A recipient of a government pension may receive the discount | Optional. Should contain a description of which pensions qualify\nMIN_AGE | Only customers older than a minimum age receive the discount | The minimum age in years\nMAX_AGE | Only customers younger than a maximum age receive the discount | The maximum age in years\nMIN_INCOME | The customer must have an income greater than a specified threshold to obtain the discount | Minimum income in AmountString format\nMIN_TURNOVER | Only a business with greater than a minimum turnover is eligible | Minimum turnover in AmountString format\nSTAFF | Only a staff member of the provider may receive the discount | NA\nSTUDENT | Only students may receive the discount | Optional. Should contain a description of who qualifies as a student, e.g. do apprentices qualify?\nEMPLOYMENT_STATUS | An eligibility constraint based on employment status applies | A description of the status required\nRESIDENCY_STATUS | An eligibility constraint based on residency status applies | A description of the status required\nNATURAL_PERSON | The customer must be a natural person rather than another legal entity | NA\nINTRODUCTORY | The discount is only available during an introductory period | The period of time for the introductory discount. Formatted according to ISO 8601 Durations\nOTHER | Another eligibility criteria exists as described in the additionalInfo field (if this option is specified then the additionalInfo field is mandatory) | NA\n",
        "enum": [
          "BUSINESS",
          "EMPLOYMENT_STATUS",
          "INTRODUCTORY",
          "MAX_AGE",
          "MIN_AGE",
          "MIN_INCOME",
          "MIN_TURNOVER",
          "NATURAL_PERSON",
          "OTHER",
          "PENSION_RECIPIENT",
          "RESIDENCY_STATUS",
          "STAFF",
          "STUDENT"
        ],
        "type": "string",
        "example": "BUSINESS"
      },
      "BankingProductDiscountEligibilityV1": {
        "properties": {
          "additionalInfo": {
            "description": "Display text providing more information on this eligibility constraint. Whether mandatory or not is dependent on the value of discountEligibilityType.",
            "type": "string",
            "example": "Eligibility criteria explanation"
          },
          "additionalInfoUri": {
            "description": "Link to a web page with more information on this eligibility constraint",
            "type": "string",
            "format": "uri"
          },
          "additionalValue": {
            "description": "Generic field containing additional information relevant to the [discountEligibilityType](https://consumerdatastandardsaustralia.github.io/standards/#tocSproductdiscounteligibilitydoc) specified. Whether mandatory or not is dependent on the value of [discountEligibilityType](https://consumerdatastandardsaustralia.github.io/standards/#tocSproductdiscounteligibilitydoc)",
            "type": "string",
            "example": "Type specific value, see docs"
          },
          "discountEligibilityType": {
            "$ref": "#/components/schemas/EnumBankingProductDiscountEligibilityTypeV1"
          }
        },
        "required": [
          "discountEligibilityType"
        ],
        "type": "object",
        "x-conditional": [
          "additionalValue"
        ]
      },
      "BankingProductDiscountV1": {
        "properties": {
          "accruedRate": {
            "description": "A discount rate calculated based on a proportion of the calculated interest accrued on the account. Note that the currency of the fee discount is expected to be the same as the currency of the fee itself. One of amount, balanceRate, transactionRate, accruedRate and feeRate is mandatory. Unless noted in additionalInfo, assumes the application and calculation frequency are the same as the corresponding fee",
            "type": "string",
            "format": "RateString",
            "example": "0.012"
          },
          "additionalInfo": {
            "description": "Display text providing more information on the discount",
            "type": "string",
            "example": "Discount Information"
          },
          "additionalInfoUri": {
            "description": "Link to a web page with more information on this discount",
            "type": "string",
            "format": "uri"
          },
          "additionalValue": {
            "description": "Generic field containing additional information relevant to the [discountType](https://consumerdatastandardsaustralia.github.io/standards/#tocSproductdiscounttypedoc) specified. Whether mandatory or not is dependent on the value of [discountType](https://consumerdatastandardsaustralia.github.io/standards/#tocSproductdiscounttypedoc)",
            "type": "string",
            "example": "Type specific value, see docs"
          },
          "amount": {
            "description": "Dollar value of the discount. One of amount, balanceRate, transactionRate, accruedRate and feeRate is mandatory.",
            "type": "string",
            "format": "AmountString",
            "example": "11.00"
          },
          "balanceRate": {
            "description": "A discount rate calculated based on a proportion of the balance. Note that the currency of the fee discount is expected to be the same as the currency of the fee itself. One of amount, balanceRate, transactionRate, accruedRate and feeRate is mandatory. Unless noted in additionalInfo, assumes the application and calculation frequency are the same as the corresponding fee",
            "type": "string",
            "format": "RateString",
            "example": "0.0103"
          },
          "description": {
            "description": "Description of the discount",
            "type": "string"
          },
          "discountType": {
            "$ref": "#/components/schemas/EnumBankingProductDiscountTypeV1"
          },
          "eligibility": {
            "description": "Eligibility constraints that apply to this discount. Mandatory if discountType is ELIGIBILITY_ONLY.",
            "items": {
              "$ref": "#/components/schemas/BankingProductDiscountEligibilityV1"
            },
            "type": "array"
          },
          "feeRate": {
            "description": "A discount rate calculated based on a proportion of the fee to which this discount is attached. Note that the currency of the fee discount is expected to be the same as the currency of the fee itself. One of amount, balanceRate, transactionRate, accruedRate and feeRate is mandatory. Unless noted in additionalInfo, assumes the application and calculation frequency are the same as the corresponding fee",
            "type": "string",
            "format": "RateString",
            "example": "0.0124"
          },
          "transactionRate": {
            "description": "A discount rate calculated based on a proportion of a transaction. Note that the currency of the fee discount is expected to be the same as the currency of the fee itself. One of amount, balanceRate, transactionRate, accruedRate and feeRate is mandatory",
            "type": "string",
            "format": "RateString",
            "example": "0.00234"
          }
        },
        "required": [
          "description",
          "discountType"
        ],
        "type": "object",
        "x-conditional": [
          "balanceRate",
          "transactionRate",
          "accruedRate",
          "feeRate",
          "additionalValue",
          "amount"
        ]
      },
      "EnumBankingProductFeeTypeV1": {
        "description": "\nEach Product or Account has a set of Fee Types. These are explained in a table as follows:\n\n| Value | Description | Use of `additionalValue` Field\n|-------|-------------|-------------------------------|\nPERIODIC | A periodic fee such as a monthly account servicing fee | The period of charge. Formatted according to ISO 8601 Durations\nTRANSACTION | A fee associated with any transaction (incorporates WITHDRAWAL, DEPOSIT, PAYMENT and PURCHASE) | NA\nWITHDRAWAL | A fee associated with making a withdrawal | NA\nDEPOSIT | A fee associated with making a deposit | NA\nPAYMENT | A fee associated with making a payment | NA\nPURCHASE | A fee associated with making a purchase at a merchant | NA\nEVENT | A fee in relation to a particular event (e.g. NA ordering a new card, viewing a balance or stopping a cheque) | NA\nUPFRONT | A fee paid at the beginning of the product NA lifecycle, such as an establishment fee, loyalty program fee or application fee | NA\nEXIT | A fee for closing the product | NA\n",
        "enum": [
          "DEPOSIT",
          "EVENT",
          "EXIT",
          "PAYMENT",
          "PERIODIC",
          "PURCHASE",
          "TRANSACTION",
          "UPFRONT",
          "WITHDRAWAL"
        ],
        "type": "string",
        "example": "EXIT"
      },
      "BankingProductFeeV1": {
        "properties": {
          "accrualFrequency": {
            "description": "The indicative frequency with which the fee is calculated on the account. Only applies if balanceRate or accruedRate is also present. Formatted according to [ISO 8601 Durations](https://en.wikipedia.org/wiki/ISO_8601#Durations) (excludes recurrence syntax)",
            "type": "string",
            "format": "DurationString",
            "example": "P1D"
          },
          "accruedRate": {
            "description": "A fee rate calculated based on a proportion of the calculated interest accrued on the account. One of amount, balanceRate, transactionRate and accruedRate is mandatory unless the feeType is `VARIABLE`",
            "type": "string",
            "format": "RateString",
[...]
